# Plex Claim Token (Get one at https://www.plex.tv/claim/)
PLEX_CLAIM=claim-xxxxxxxxxxxxxx

# User and Group IDs (Run `id` in your terminal to find these)
PUID=1000
PGID=1000

# Timezone
TZ=UTC

# Homepage Credentials
HOMEPAGE_RADARR_KEY=your_radarr_api_key
HOMEPAGE_PROWLARR_KEY=your_prowlarr_api_key
HOMEPAGE_QBIT_USER=your_username
HOMEPAGE_QBIT_PASS=your_password
HOMEPAGE_ALLOWED_HOSTS=media.local,localhost
