# Data and Media (DO NOT SHARE)
data/
data/media/
data/torrents/

# Databases and related files
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-journal
*.bak

# Logs, Caches, and Backups
**/logs/
**/log/
**/Backups/
**/backup/
**/BT_backup/
**/*.log
**/log/bazarr.log*
**/.cache/
**/Sentry/
**/MediaCover/
**/metadata/
**/Metadata/
**/Cache/
**/cache/
**/restore/
**/CrashReports/
**/*.zip

# Runtime and Lock files
**/lockfile
**/ipc-socket
**/*.lock
**/*.pid
**/*.fastresume
**/*.torrent

# Sensitive Configuration Files
# It's better to provide .example files instead of the real ones
config/**/*.xml
config/**/*.yaml
config/**/*.json
config/**/*.conf
config/**/*.txt
config/**/*.mmdb
config/**/*.dat
config/plex/Library/
config/prowlarr/Definitions/

# Exclude hidden files in config
config/**/.*

# Exclude sensitive homepage configs
config/homepage/*.yaml

# Keep example files if you create them
!config/**/*.example
!config/homepage/*.example

# Environment Secrets
.env
.env.local
.env.*.local

# OS Specific
.DS_Store
Thumbs.db
