---
- Media Server:
    - Plex:
        icon: plex.png
        href: http://media.local:32400/web
        description: Watch Movies & TV
    - Radarr:
        icon: radarr.png
        href: http://media.local:7878
        description: Add New Movies
        widget:
          type: radarr
          url: http://radarr:7878
          key: "{{HOMEPAGE_VAR_RADARR_KEY}}"
    - qBittorrent:
        icon: qbittorrent.png
        href: http://media.local:8080
        description: View Downloads
        widget:
          type: qbittorrent
          url: http://qbittorrent:8080
          username: "{{HOMEPAGE_VAR_QBIT_USER}}"
          password: "{{HOMEPAGE_VAR_QBIT_PASS}}"
    - Prowlarr:
        icon: prowlarr.png
        href: http://media.local:9696
        description: Manage Trackers
        widget:
          type: prowlarr
          url: http://prowlarr:9696
          key: "{{HOMEPAGE_VAR_PROWLARR_KEY}}"
    - Sonarr:
        icon: sonarr.png
        href: http://media.local:8989
        description: Add New TV Shows
        widget:
          type: sonarr
          url: http://sonarr:8989
          key: "{{HOMEPAGE_VAR_SONARR_KEY}}"
